body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

table {
  width: 100%;
  height: 70vh;
  background-color: rgb(25, 25, 25);
  color: white;
}

td {
  width: 25%;
  text-align: center;
  background-color: rgb(20, 20, 20);
  font-size: 24px;
}

td:hover {
  background-color: rgb(40, 40, 40);
  cursor: pointer;
}

#resultArea {
  height: 30vh;
  background-color: rgb(60, 60, 60);
  color: white;
  font-size: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 24px;
  box-sizing: border-box;
}

#result {
  background-color: rgb(255, 102, 0);;
}

#result:hover {
  background-color: white;
  color: rgb(255, 102, 0);
}

.highlight {
  background-color: rgb(223, 158, 114);
}